.titulo2{
    position: absolute;
    bottom: -42vh;
    border: 1px solid #dd1c1ce3;
    width:100%;
    padding-top: 30px;
    height: 10vh;
    text-align: center;
    background: linear-gradient(100deg,rgb(236, 236, 33),rgb(35, 48, 14));
    font-family: arial rgb(255, 238, 4) sans-serif;
    font-size: 20px;
    color: rgb(238, 234, 0);

    }
    .imagen1{
     position: absolute;
     top: 20vh;
    }
    
    .body{
        position: absolute;
        top: 140vh;
        padding: 5px;
        text-align: center;
        color: rgb(255, 232, 30);
        width: 100%;
        height: 350vh;
        background: linear-gradient(85deg, rgb(255, 1, 1) ,rgb(197, 190, 190),rgb(8, 71, 245));
    }

    .datos{
        position: absolute;
        left: 6vh;
    }

    .datos1{
     font-size: 15px;
        position: absolute;
        top: 24vh;
        left: 70vh;
    }

    .datos2{
     font-size: 15px;
        position: absolute;
        top: 25vh;
        right: 15vh;
    }

    .video{
        position: absolute;
        top: 300vh;
        right: 60vh;
    }

    .temporada2{
        position: absolute;
        top: 125vh;
        left: 60vh;
    }

    .datos3{
        position: absolute;
        left: 6vh;
        top: 150vh;
    }

    .datos4{
        font-size: 15px;
        position: absolute;
        top: 150vh;
        left: 70vh;
    }

    .datos5{
     font-size: 15px;
        position: absolute;
        top: 150vh;
        right: 15vh;
    }

    .datos6{
        font-size: 15px;
        position: absolute;
        top: 240vh;
        left: 30vh;
    }

    .datos7{
     font-size: 15px;
        position: absolute;
        top: 240vh;
        right: 40vh;
    }

    .trofeos{
    position: relative;
    top: 185vh;
    border: 1px solid #110000;
    width:100%;
    padding-top: 30px;
    height: 10vh;
    text-align: center;
    background: #020414fa;
    font-family: arial Black sans-serif;
    color: white;
    

    }

    .cuadrodiv{
    position: relative;
    top: 80vh;
    border: 1px solid #110000;
    width:100%;
    padding-top: 30px;
    height: 10vh;
    text-align: center;
    background: #020414fa;
    font-family: arial Black sans-serif;
    color: white;
    

    }

    
    .cuadro{
    position: relative;
    top: -9px;
    border: 1px solid #fffcfc;
    width:100%;
    padding: 30px;
    height: 15vh;
    text-align: center;
    background: #2036fafa;
    font-size: 20px;
    font-family: arial Black sans-serif;
    color: rgb(238, 234, 0);
 }

 .estadisticas1{
    position: absolute;
    top: 24vh;
    right: 7vh;
 }

 .contenido{
    padding: 20px;
    padding-left: 20px;
    position: absolute;
    top: 90vh;
    text-align: center;
    font-size: 20px;

 }

 .box {
    position: relative;
    top: -5vh;
    left: 50vh;
    width: 750px;
    height: 600px;
    font-size: 20px;
    background: #2774e73b;
    padding: 20px;
    text-align: auto;
    margin: 0 auto;
    margin-top: 4%;
    color: rgb(15, 2, 2);
    font-family: 'Century Gothic', sans-serif;
    border-radius: 15px;
/* box-shadow: 7px 13px 37px black; */
 }


 .box-img {
border-radius: 50%;
 }

.box h1 {
font-size: 40px;
letter-spacing: 4px;
font-weight: 100;
margin: 30px 0 20px;
}

 .box h2 {
font-size: 20px;
letter-spacing: 3px;
font-weight: 100;
margin-bottom: 30px
 }

 .box p {
text-align: justify;
 }

 .box ul {
margin-top: 20px;
list-style: none;
  }

 .box ul li {
display:contents;
  }
 .box ul li a {
color: white;
font-size: 45px;
padding: 10px 5px;
transition: all .5s ease-in-out;
display:flex;
 }

  .box ul li a:hover {
color:#ffffff;
transform: scale(1.3);
 }